body{
background:@white;
}
a, a:focus { color: @black; }

a:hover { color: darken(@orange, 20%); }

#header { 
    #welcome { 
    color: @white;  }
}

#header a img#logo{
    padding-top:0px;
}
#container-main {
	background:@white;  
        box-shadow:0 1px 3px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow:0 1px 3px rgba(0, 0, 0, 0.3);
        border-top:1px solid @white;
        border-radius:none;
}
.btnStandard {
    .uni-button(@gray);
    float:none;
}
.btnStandardDisabled {
    .uni-button(lighten(@gray, 30%));
}
.btnConfirm {
    .uni-button(@gray);
    float:none;
}
.btnConfirmDisabled {
    .uni-button(lighten(@gray, 30%));
}
.btnCancel {
    .uni-button(@red);
    float:none;
}
.btnCancelDisabled {
    .uni-button(lighten(@red, 30%));
}
#insert_save_btn_notes {
    .uni-button(@gray);
    float:none;
}
#cancel_btn_notes, #cancel_btn_apt{
    .uni-button(@red);
    float:none;
}
 .form-button{
    color: white;
    background:url('Skins/@{theme}/images/black_gradient.jpg') repeat-x top left;
    border:1px solid @blue;
}
a#RATCancelSelection.form-button, input#cancel_btn_note{
    color: white;
    background:@red;
    border:1px solid @redDark;
}
a#RATCancelSelection.form-button:hover, .bottomButtons input#cancel_btn_note:hover{
    color: @gray;
    background:@redDark;
    border:1px solid @redDark;
}
legend{
    color: @orange;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: bold;
	}

#menu { 
    button {
	.plain-button( @orange, @white, @white );
        background: @orange;
        span.label { color:@white !important; font-weight:bold;font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; padding:0px; }
	border:1px solid darken(@orange, 10%);
	background-image:none;
        text-shadow:none;
        box-shadow:none;
    } 
    button:hover{
	color:@grayLightest;
	background-image:none;
        background: lighten(@orange, 10%);
	border-top:1px solid lighten(@orange, 10%);
	border-left:1px solid darken(@orange, 10%);
	border-right:1px solid darken(@orange, 10%);
	border-bottom:1px solid lighten(@orange, 10%);
	}
	button:active{
	background-image:url(Skins/@{theme}/images/menu_bckg_hover2.png);
	color:@white;
        border-top:1px solid @orange;
        border-bottom:1px solid @orange;
	}
    .disabled { color:@white;}
    .disabled:hover { .gradient(#f4f4f4, #f2f2f2); text-shadow: 0 1px 0 @gray;  border:1px solid #dddddd; }
}

.breadcrumb {
    div { 
        color: @white;
        a { color: @white; }
		 background: @gray;
    	border: 1px solid darken(@gray, 10%);
        a:hover { text-decoration:none; color: saturate(@orange, 20%); }
    }
}
////

.btnPositive, .btnNegative { 
    text-decoration:none;
    color:@white;
    padding: 3px 5px; 
    .box-shadow-glow; 
    .border-radius(0px);
    .box-shadow-inset;
    .box-shadow-glow;
    margin-left: 5px; 
    margin-right: 5px;
    position:relative;
    cursor:pointer;
    display:inline-block;
}

.btnPositive {
    background-color:@blueLight;
    .gradient(@blueLight, @blueDark);
}

.btnNegative {
    background-color:#e1253b;
    .gradient(#f12a41, #e1253b);
}
#jobSearchForm a, #productSearchForm a, #newJobBookingForm a, #policySearchForm a {
    .uni-button(@gray);
    margin-bottom:10px;
    float:none;
}

#jobSearchForm a:hover, #productSearchForm a:hover, #newJobBookingForm a:hover, #policySearchForm a:hover{
//.form-button-hover;
//color:@grayLightest;
//border-top:1px solid @blue;
	}
#jobSearchForm a:active, #productSearchForm a:active, #newJobBookingForm a:active, #policySearchForm a:active{
 //.form-button-active;
//border-top:1px solid @blue;
	}

/* logout button */

html body div#container-main div#header span#welcome a{
.uni-button(@gray);
position:relative;
float:none;
zoom:1;
bottom:5px;
left:5px;
}

/*  Default Diary  */

.siteMapPanel {

 .borderDiv {
   border-color:#CCCCCC;
   border-width:1px;
   border-style:solid;
 }
 
 #thirdDiv{
.form-button{
border:1px solid @black;
  }
 }
}


#JobNetworkClientForm
{
        .form-button {
			border:1px solid @blue;
                        color: @white;
        }
}

.jobBookingPanel {
    .blueText { color:@black; }
    form {
        .form-button {
			border:1px solid @blue;
                        color: @white;
                        height: 28px;
        }
    }
}

.DTTT_button {
   .uni-button(@gray);
    float:none;
    margin:0px;
}

.blueBtn {
   .uni-button(@gray);
    float:right;
}

a.inline-edit{
    .uni-button(@gray);
    float:right;
}

a.colorbox{
    .uni-button(@gray);
    float:right;
}


#timeline_container {
    .past, .past-RED { background: url("Skins/@{theme}/images/past.png") no-repeat center 35px; }
    .present {background: url("Skins/@{theme}/images/present.png") no-repeat center 35px; }
    .present-RED {background: url("Skins/@{theme}/images/present-red.png") no-repeat center 35px; }
    .future, .future-RED { background: url("Skins/@{theme}/images/future.png") no-repeat center 35px; } 
    }

form {
input#quick_find_btn,input#quick_find_btn2 {
        //background:url('Skins/@{theme}/images/find_address.png') @gray !important;
        //border:1px solid @gray !important;
    }  
}

.raJobsPanel {
   .leftAlign {
        color:@black;
    }
}


#CustomerDetails fieldset legend{
background-image: url(Skins/@{theme}/images/icons_skyline/icons_skyline_user.png);
}

#deliveryAddress fieldset legend{
    background-image: url(Skins/@{theme}/images/icons_skyline/icons_skyline_truck.png) !important;
}



.paging_full_numbers a.paginate_button, .paging_full_numbers {
    color: @black;
}

.paging_full_numbers a.paginate_button, .paging_full_numbers a.paginate_active {
    color:@grayDark;
}

a.paginate_active{
    color:@black !important;
}

form{
    input.textSubmitButton{
    .uni-button(@gray);
    float:none;
    }
    input#cancel_btn_notes.textSubmitButton{
    .uni-button(@red);
    float:none;
    }
}

.tableHover {
	background-color: @grayLight;
}

.CsvButton {
    background-image: url("Skins/@{theme}/images/button_gradients.png");
    border: 1px solid @black;
    color: @black !important;
}


.AdminItemPanel{
background:url("Skins/@{theme}/images/folder.png") no-repeat 20px 20px;
label{
color: @black;
}
}

.bottomButtonsPanel button#finish_btn.gplus-blue{
float:right !important;
}

#loginForm p span a, #loginForm p span a:hover, #loginForm p span a:active,
#loginForm.prepend-5 fieldset p span a[href*="/skyline_samsung/index/index"],
#newuser.main form#newUserForm.prepend-5 fieldset p span a, 
html body div#container-main div#newuser.main form#newUserForm.prepend-5 fieldset p a {
.uni-button(@gray);
padding-bottom:2px;
}

#cancel_email_btn{
button.gplus-red;
background: @red !important;
margin-top:2px;
margin-bottom:2px;
float:none;
}

.buttonPanel span#cancel a button.gplus-blue{
button.gplus-red;
background: @red !important;
margin-top:2px;
margin-bottom:2px;
}

/* IE6 fix */

* html #loginForm p span a {
        .form-button;
        border:1px solid #dddddd;
        padding-bottom:2px;
        }
* html #jobdetails .head .icon_c, #jobdetails .head .icon_e{
        float: right;
	position:relative;
        height: 18px;
        margin: 0 6px 0 0;
        width: 18px;
	}

 *:first-child+html .jobBookingPanel form .form-button{
        border:1px solid @blue !important;
        }

.jobConfirmation {
    /*.uni-button(@gray);*/
}

#csvSelect {
    .uni-button(@gray);
    position:relative;
    bottom:30px;
    width:100px;
}
#DivEditAddress {
    form {
        .uni-button(@gray);
    }
}
input#quick_find_btn.textSubmitButton{
    //float: right;
    //margin-right:50px;
}
.weekButtonsActive, .subMenuButtonsActive{
    .uni-button(@gray);
    margin:0px;
    padding:0px;
}
.TimeSlotActiveTab{
    background: @orange;
    }
.TimeSlotActiveTab:hover{
    border:1px solid darken(orange, 10%);
}
#SiteMapPageHeader, .SiteMapPageHeader{
    color: @orange;
}
#ServiceCentre fieldset a.top-right{
    margin-right:5px !important;
}
.DTTT_container a#ToolTables_authRequiredTable_0.DTTT_button{
    margin: 10px 10px 0px 0px !important;
}